<!-- this is a wrapper/frame around EVERY page
so if i put nav bar here, then i don't need
to include nav bar in every html page -->

<!DOCTYPE html>
<html>
<head>
  <title>Pickleball Challenge</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Your app's CSS -->
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>


  <!-- Optional page-specific CSS -->
  <%= stylesheet_link_tag "home", "data-turbo-track": "reload" %>

  <!-- Your app's JS -->
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>


  <body>
    <%= render "shared/navbar" %>

    <main class="container">
      <%= yield %> <!-- Page-specific content goes here -->
    </main>

    <footer style="text-align:center; margin-top: 2em;">
      <p>&copy; 2025 Pickleball Challenge</p>
    </footer>
  </body>
</html>
